/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

/*th {
  text-decoration: underline;
}

label {
  text-decoration: underline;
}*/

.input-group-text {
	justify-content: center;
	width:100px;
}

.item {
	border-radius:5px
	/*border: 2px solid black;*/
}

.table table-striped {
	justify-content: center;

}